extends ../layout

block content
   .d-flex.flex-row.content.mx-auto
      .profile-container
         include ../includes/profile
      .flex-fill
         form(class="card" method="post" action= tweet._id ? "/tweets/update/" + tweet._id : "/tweets")
            .card-header Ecrire un tweet
            .card-body 
               .form-group 
                  textarea(class="form-control" name="content" placeholder="What's happening ?")= tweet.content
               if errors 
                  ul(class="my-2")
                     each error in errors 
                        li(class="text-danger")= error
               .w-100 
                  input(type="submit" value="Send" class="btn btn-primary ml-auto d-block")

